.page-title {
  font-family: 'Londrina Shadow', Helvetica, Arial, sans-serif;
  font-size: 5rem;
  text-align: center;
}

.page-title:hover {
  text-decoration: none;
}

.card-title {
  font-family: 'Londrina Solid', Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

.card-body {
  font-family: 'Raleway', 'Open Sans', sans-serif;
}

.card {
  min-height: 200px;
}

.card-button {
  color: white;
  background-color: #FF8400;
  border: none;
  font-weight: 600;
}

.card-button:hover {
  color: white;
  background-color: #FF8400;
}

.card-date {
  font-style: italic;
  text-decoration: underline;
}
